<div class="row">
  <div class="col-xs-12 col-md-6">
    <% unless signed_in? %>
      <p class="sign_in_notice">
        请<%= link_to "登录", "#sign_in_modal", "data-toggle" => "modal", class: "btn btn-primary btn-xs" %>之后才可以进行评论！
      </p>
    <% end %>
    <%= form_for(@message, url: @evaluate.nil? ? product_messages_path(@product) : create_evaluate_message_product_messages_path(@product, evaluate_id: @evaluate.id), method: :post, remote: true, html: {class: "message_modify_form", id: "message_create_form"}) do |f| %>
      <div id="message_form_alert" class="hidden alert"></div>
      <div class="form-group">
        <%= f.text_area :content, size: "40x5", placeholder: "发表评论...", class: "form-control new_message_input at_textarea", disabled: signed_in? ? false : "disabled" %>
        <div class="help-block"><em>不超过250个字</em></div>
      </div>
      <div class="actions">
        <%= f.submit "确认提交", class: 'btn btn-primary new_message_submit', disabled: "disabled", disable_with: "正在提交..." %>
      </div>
    <% end %>
  </div>
</div>
