body{
  background-color: #f4fafc;
}

a{
  color: #4c8ca1;
}

a:hover{
  color: #a67b41;
  font-weight: bold;
}

.btn-primary{
  background-color: #4c8ca1;
  border: 1px solid #b3b8ba;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active{
  background-color: #a67b4e;
  border: 1px solid #bfbbb7;
}

hr{
  border-top: 1px solid #ebf5f8;
}

.menu_list{
  color: #4c8ca1;
  ul{
    font-weight: bold;
    li.active{
      a{
        color: #a67b41;
      }
    }
  }
}

.carousel-indicators li{
  background-color: #4C8CA1;
  border: 1px solid #FFF;
}

.carousel-indicators .active{
  background-color: #A67B4E;
  border: 1px solid #FFF;
}
