body{
  background-color: $background-color;
}

a{
  color: $primary-color;
  &:hover{
    color: $complementary-color;
    font-weight: bold;
  }
}

.btn-primary, .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active{
  background-color: $primary-color;
  border: 1px solid $primary-dark-color;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.dropdown-toggle{
  background-color: $complementary-color;
  border: 1px solid $complementary-dark-color;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus{
  background-color: $primary-color;
  border: $primary-color;
}

hr{
  border-top: 1px solid $primary-light-color;
}

.menu_list{
  color: $primary-color;
  ul{
    font-weight: bold;
    li.active{
      a{
        color: $complementary-color;
      }
    }
  }
}

.carousel-indicators li{
  background-color: $primary-color;
  border: 1px solid $white-color;
}

.carousel-indicators .active{
  background-color: $complementary-color;
  border: 1px solid $white-color;
}

.badge{
  background-color: $complementary-dark-color;
}

.pagination > li > a, .pagination > li > span {
  padding: 2px 8px;
  font-size: 10px;
  border: 0;
}

.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus{
  background-color: $complementary-light-color;
}

.pagination{
  margin: 0;
}

.container_box{
  background: $white-color;
  @include rounded-corners(7px);
  border: 1px solid $primary-light-color;
}

.badge_notifications{
  background-color: #C43C35;
}

.copyright{
  font-size: 12px;
  color: $primary-color;
}
