body{
  background-color: #f4fafc;
}

a{
  color: #4c8ca1;
}

a:hover{
  color: #a67b41;
  font-weight: bold;
}

.btn-primary, .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active{
  background-color: #4c8ca1;
  border: 1px solid #b3b8ba;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.dropdown-toggle{
  background-color: #a67b4e;
  border: 1px solid #bfbbb7;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus{
  background-color: #4C8CA1;
  border: #4C8CA1;
}

hr{
  border-top: 1px solid #ebf5f8;
}

.menu_list{
  color: #4c8ca1;
  ul{
    font-weight: bold;
    li.active{
      a{
        color: #a67b41;
      }
    }
  }
}

.carousel-indicators li{
  background-color: #4C8CA1;
  border: 1px solid #FFF;
}

.carousel-indicators .active{
  background-color: #A67B4E;
  border: 1px solid #FFF;
}

.badge{
  background-color: #BFBBB7;
}

.pagination > li > a, .pagination > li > span {
  padding: 2px 8px;
  font-size: 10px;
  border: 0;
}

.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus{
  background-color: #FFF8F1;
}

.pagination{
  margin: 0;
}


