#products_sort{
  margin-bottom: 30px;
  background: white;
  -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
          border-radius: 7px;
  border: 1px solid #ebf5f8;
  ul{
    margin: 30px 0 10px 30px;
  }
  p{
    color: #b3b8ba;
    font-size: 12px;
    margin: 10px 0 30px 30px;
  }
}

#product_items{
  .item{
    background: white;
    -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
            border-radius: 7px;
    border: 1px solid #ebf5f8;
    margin-bottom: 20px;
    padding: 10px;
    .product_thumbnail{
      height: 253px;
      overflow: hidden;
      img{
        width: 100%;
      }
    }
  }
}

#about_product{
  background: white;
  -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
          border-radius: 7px;
  border: 1px solid #ebf5f8;
  #about_product_select{
    border-bottom: 1px solid #ebf5f8;
    ul{
      margin: 30px 0 20px 30px;
    }
  }
}

#product_info{
  padding: 30px;
  .product_name{
    padding-bottom: 20px;
  }
  .product_description{
    padding: 40px 10px;
    ul{
      .border_bottom{
        border-bottom: 1px dotted #A67B4E;
      }
      li{
        color: #4C8CA1;
        margin: 20px 0;
        padding-bottom: 10px;
        label{
          width: 15%;
        }
      }
    }
  }
  .limit_evaluates{
    .evaluate_item{
      border-bottom: 1px solid #ebf5f8;
    }
    .evaluate_details_abbr{
      margin: 10px 0 20px 0;
    }
  }
  .message_item{
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ebf5f8;
  }
}
