<div class="list-group">
  <%= link_to "帐号管理", @user, class: "list-group-item active" %>
  <%= link_to "修改密码", changepassword_user_path(@user), class: "list-group-item" %>
  <%= link_to "修改登录邮件地址", changeemail_user_path(@user), class: "list-group-item" %>
  <%= link_to "修改所有信息", edit_user_path(@user), class: "list-group-item" %>
</div>
