<div class="list-group">
  <%= link_to "帐号管理", current_user, class: "list-group-item active" %>
  <%= link_to "修改密码", change_password_user_path, class: "list-group-item" %>
  <%= link_to "修改用户名", change_name_user_path, class: "list-group-item" %>
  <%= link_to "我的图片", user_picture_path(current_user), class: "list-group-item" %>
</div>
