<div id="user_menu" class="list-group">
  <%= link_to "修改用户信息", edit_account_path, class: "list-group-item" %>
  <%= link_to "修改密码", change_password_account_path, class: "list-group-item" %>
  <%= link_to "头像管理", account_user_picture_path(@user), class: "list-group-item" %>
</div>
