
<%= form_for(current_user.collectionships.build(product_id: @product.id), remote: true) do |f| %>
  <%= f.hidden_field :product_id %>
  <div data-toggle="tooltip" data-placement="right" title="收藏">
  	<i class="glyphicon glyphicon-bookmark"></i>
  	<%= @product.collectionships.count %>
  </div>
  
  <%= f.submit "收藏", class: "btn btn-xs btn-info" %>
<% end %>