<% if signed_in? %>
  <% if current_user.collecting?(@product) %>
    <%= render 'collectionships/uncollect' %>
  <% else %>
    <%= render 'collectionships/collect' %>
  <% end %>
<% else %>
  <div data-toggle="tooltip" data-placement="right" title="收藏">
  	<i class="glyphicon glyphicon-bookmark"></i>
  	<%= @product.collectionships.count %>
  </div>
<% end %>