<h2><i class="fa fa-bell-o"></i> 提醒</h2>
<hr>
<div class="container_box">
  <div class="row">
    <div class="col-md-12">
      <% @notifications.each do |notification| %> 
        <%= NotificationPresenter.new(notification, self).render_notification %>
      <% end %>
    </div>
  </div>
</div>

