<div class="list-group-item active ">修改登录邮箱</div>

<div class="row">
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.label "请输入新邮箱帐号:" %>
    <% end %>
</div>