<table class="table table_hover">
  <thead>
    <tr>
      <th>邮件</th>
  </thead>
  <tbody>
     <tr>
      <td><%= @user.email %></td>
    </tr>
   </tbody>
  <thead>
    <tr>
      <th>邮件</th>
  </thead>
  <tbody>
     <tr>
      <td><%= @user.email %></td>
    </tr>
 </tbody>
   <thead>
    <tr>
      <th>邮件</th>
  </thead>
  <tbody>
     <tr>
      <td><%= @user.email %></td>
    </tr>
 </tbody>
</table>

