<div class="list-group-item active">用户基本信息</div>
<table>
  <tbody>
    <tr>
    </tr>
     <tr>
      <td >用户昵称：<%= current_user.name %></td>
    </tr>
    <tr>
      <td>登录邮件地址：<%= current_user.email %></td>
    </tr>
   </tbody>
</table>

