body{
  padding-top: 70px
}

.ratings{
  color: #d17581;
  padding-left: 10px;
  padding-right: 10px;
}

.thumbnail{
  padding: 10px;
  margin-bottom: 20px;
  .product_picture{
    height: 180px;
    overflow: hidden;
  }
  img{
    width: 100%;
  }

  .caption{
    text-align: center;
  }
}
