<div class="errors-container">
  <div>
    <h1>404</h1>
    <hr>
    <p class="lead">很抱歉，您要访问的页面不存在！</p>
    <p class="lead">
      <%= link_to "回到首页", root_path, class: "btn btn-lg btn-primary" %>
    </p>
  </div>
</div>
