<div class="errors-container">
  <div>
    <h1>500</h1>
    <hr>
    <p class="lead">很抱歉，服务器遇到了一个未曾预料的状况，导致了它无法完成对请求的处理。</p>
    <p class="lead">
      <%= link_to "回到首页", root_path, class: "btn btn-lg btn-primary" %>
    </p>
  </div>
</div>
