<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div id="about_product">
      <%= render 'shared/product_head' %>
      <div id="evaluate_item_info">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
