<h4>修改留言</h4>
  <%= form_for(@message, url: update_message_product_evaluate_path(message_id: @message), method: :patch) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="row">
    <div class="col-md-3">
        <div class="form-group">
      	  <%= f.text_area :content, size: "40x5" %>
        </div>
        <hr>
        <em>不超过140个字</em>
        <hr>

        <div class="actions">
          <%= f.submit "确认提交", class: 'btn btn-primary' %>
        </div>
        <hr>
    </div>
  </div>
  <% end %>