<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div id="about_product">
      <%= render 'shared/product_head' %>
      <div id="all_evaluates">
        <div>
          <%= link_to "我想写评测", new_product_evaluate_path(product_id: @product), class:"btn btn-primary" %>
        </div>  
        <hr>
        <div>
        <div class="limit_evaluates">
          <%= render 'products/evaluates' %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
