/*
 *= require font-awesome
 *= require bootstrap
 *= require jquery.qeditor
 *= require nprogress
 *= require nprogress-bootstrap
 *= require admin/products
 *= require_self
*/
 
.admin_home {
  text-align: center;
}

.word_center {
  text-align: center;
}

.evaluates_content {
	margin: 50px;
	padding: 20px;
}

