/*
 *= require font-awesome
 *= require bootstrap
 *= require_self
*/

body {
  padding-top: 55px;
}

h2 {
  text-align: center;
}
 
.admin_home {
  text-align: center;
}

.word_center {
  text-align: center;
}

.evaluates_content {
	margin: 50px;
	padding: 20px;
}