#navbar_center{
  background: #fff;
  border-bottom: 1px solid #e3e3e3;
  z-index: 1;
  margin-bottom: -11px;
  .inner_wrapper{
    padding: 0px 0;
    margin: 0px auto;
    width: 100%;
    max-width: 1140px;
    min-width: 320px;
  }
}

.navbar{
  min-height: inherit;
  margin-bottom: 0;
  border: none;
  background: none;
}

.navbar-default{
  .navbar-toggle{
    border: 3px solid #000;
    border-radius: 0px;
    .icon-bar{
      border: none;
      background-color: #000;
      height: 3px;
    }
  }
  .navbar-toggle:hover{
    background-color: #000;
    .icon-bar{
      background-color: #fff;
    }
  }
}

.main_nav{
  ul.navigation{
    float: right;
    margin: 0px;
    padding: 0px;
    li{
      float: left;
      list-style: none;
      padding: 0 20px;
      a{
        text-decoration: none;
        color: #505050;
        padding: 30px 10px;
        height: 80px; 
        line-height: 80px;
        -webkit-transition: .5s ease-in-out;
           -moz-transition: .5s ease-in-out;
             -o-transition: .5s ease-in-out; 
                transition: .5s ease-in-out;
      }
      a:hover{
        color:#fff;
      }
    }
    li.active{
      border-bottom:1px solid #c5d5dd;
    }
    li:hover{
      background: none;
      background-color: #c5d5dd;
      a{
        color: #fff;
        border-bottom: 1px solid #c5d5dd;
      }
    }
    li.parent{
      ul.nav-child{
        display: none;
        padding: 0; 
        margin: 0;
        width: 20rem;
        z-index: 9999; 
        position: absolute;
        margin-left: -20px;
      }
    }
    li.parent:hover{
      ul.nav-child{
        display: block;
        position: absolute;
        background: #fff;
        z-index: 9999;
        li{
          padding: 10px;
          margin: 0px;
          height: auto; 
          line-height: 1em;
          display: block;
          width: 100%;
        }
      }
    }
  }
}

.navbar-brand{
  float: left;
  padding: 0px;
  font-size: inherit;
  line-height: 1em;
  h1{
    padding: 0px 0;
    margin: 0 0 0 10px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1em;
    height: 80px; 
    line-height: 80px;
  }
  h1:hover{
    color: #fff;
    background: none;
    background-color: #c5d5dd;
  }
}

/* Mobile Styles */
@media (max-width: 767px) {
  .main_nav {
    float: left;
    width: 100%;
    ul.navigation{
      margin-bottom: 1rem;
      float: none;
      float: left;
      display: block;
      border: 1px solid #e3e3e3;
      border-top: 0px;
      border-bottom: 0px;
      width: 100%;
      li{
        text-align: center;
        display: block;
        float: left;
        width: 100%;
        border-bottom: 1px solid #e3e3e3;
      }
      li.parent:hover{
        ul.nav-child{
          display: none;
          position: relative;
        }
      }
      li.parent{
        ul.nav-child{
          display: none;
          width: 100%;
          position: relative;
          font-size: .875em;
          li{
            a{
              padding: 8px 0;
              font-weight: bolder;
            }
          }
        }
      }
      li.parent.active{
        ul.nav-child{
          display: block;
          border-top: 1px solid #e3e3e3;
          li{
            a:before{
              content:"> "; color:#ccc;
            }
          }
        }
      }
    }
    .navbar-toggle{
      float: right;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
