<% if @message_items.any? %>
  <h4>评论</h4>
  <% @message_items.each do |message| %>
    <span>
      <%= message.user.try(:name) %>
    </span>,
    <small>
      <%= time_ago_in_words(message.created_at) %> ago.
    </small>
    <div>
      <%= message.content %>
      <% if current_user?(message.user) %>
        <%= link_to "删除", destroy_message_product_path(message_id: message), method: :delete %>
      <% end %>
    </div>
    <hr>
  <% end %>
<% end %>
