<%= render "products_sort" %>

<div id="product_items">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-xs-6 col-md-4">
        <div class="item">
          <div class="product_thumbnail"></div>
          <div class="product_info">
            <h4>
              <%= product.name %>
            </h4>
            <p>
              <%= product.description.truncate(15) %>
            </p>
            <p>
              <%= link_to "查看产品", product_path(product), class: "btn btn-primary" %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
