<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div id="about_product">
      <%= render 'shared/product_head' %>
      <div id="messages_item_info">
        <%= render 'messages_show' %>
        <%= render 'message_form' %>
      </div>
    </div>
  </div>
</div>
