<div class="row">
  <div class="col-lg-8">
    <%= render 'shared/product_head' %>
    <hr>
    <div>
      <%= render 'messages_show' %>
      <hr>
      <%= render 'message_form' %>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="well">
    </div>
  </div>
</div>
