<% if object.errors.any? %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger">
        <h4><%= pluralize(object.errors.count, "error") %> prohibited thie message from being saved:</h4>
  
        <ul>
          <% object.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
